body { 
    background-image: url("../Imagens/back1.jpg");
    background-size: 100%;

}

h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: oblique;

}

p {
    color: white;
    font-size: 13pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: oblique;
    position: absolute;
    top: 45%;
    left: 1%;

}

p1 {
    color: white;
    font-size: 13pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: oblique;
    position: absolute;
    top: 48%;
    left: 48%;


}


ol {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 13%;
    top: 25%;
    list-style: none;


}


.CULTURA {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;

}

.CNN {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;

}

.METEORO {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;

}

.MANICOMIO {
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    right: 160pt;
    top: 46%;


}

.IMGCULTURA {
    width:250px;
    height:125px;
    left: 29%;
    top: 20%;
    position: absolute;

}

.IMGCNN {
    width: 175px;
    height: 175px;
    left: 25%;
    top: 37%;
    position: absolute;

}

.IMGMETEORO {
    width: 175px;
    height: 175px;
    left: 29%;
    top: 60%;
    position: absolute;

}

.IMGCHAVES {
    width: 90px;
    height: 500px;
    left: 9%;
    top: 11%;
    position: absolute;
    

}

.IMGSETADIREITA {
    width: 110px;
    height: 90px;
    right: 38%;
    top: 44%;
    position: absolute;
    

}

.IMGVOLTAR {
     width: 155px;
    height: 115px;
    left: 0pt;
    bottom: 0pt;
    position: absolute;
}

.IMGRADIS {
    width: 175px;
    height: 175px;
    right: 20pt;
    top: 36%;
    position: absolute;

}

